<style>
.header-wrap {
    border-bottom: 1px solid #c5c5c5;
    min-height: 4rem;
    position: relative;
    max-height: 4rem;
}
.brand-img-link{
  margin-left: 2rem;
  margin-top: 1rem;
  position: absolute;
}
</style>
<div class="header-wrap" data-ng-controller="HeaderController">
  <div class="row full-stretch">
    <div class="columns small-12">
      <div class="row">
        <div class="columns small-6">
             <a data-ui-sref="home" class="brand-img-link"><img class="brand-img" src="">Masterrace</a>
        </div>
        <div class="columns small-6">
          <div class="show-for-small-only">
            <button class="button" type="button" data-ng-click="toggleSmallMenu()">
              <span class="">Toggle navigation</span>
            </button>
            <div ng-show="OpenSmallMenu == true">
              
              asdasdasdad
              
            </div>
          </div>


          <div class="show-for-medium show-for-large">
            <ul class="" data-ng-hide="authentication.user">
              <li data-ui-sref-active="active">
                <a data-ui-sref="authentication.signup">Sign Up</a>
              </li>
              <li class="divider-vertical"></li>
              <li data-ui-sref-active="active">
                <a data-ui-sref="authentication.signin">Sign In</a>
              </li>
            </ul>
            <ul class="" data-ng-show="authentication.user">
              <li class="">
                <a class="" ng-click='dropdownsetting = !dropdownsetting;'>
                  <img data-ng-src="{{authentication.user.profileImageURL}}" alt="{{authentication.user.displayName}}" class="header-profile-image" />
                  <span data-ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
                </a>
                <ul class="dropdown-menu" ng-show="dropdownsetting == true">
                  <li data-ui-sref-active="active">
                    <a data-ui-sref="settings.profile">Edit Profile</a>
                  </li>
                  <li data-ui-sref-active="active">
                    <a data-ui-sref="settings.picture">Change Profile Picture</a>
                  </li>
                  <li data-ui-sref-active="active" data-ng-show="authentication.user.provider === 'local'">
                    <a data-ui-sref="settings.password">Change Password</a>
                  </li>
                  <li data-ui-sref-active="active">
                    <a data-ui-sref="settings.accounts">Manage Social Accounts</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="/api/auth/signout" target="_self">Signout</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>