<style>
.header-wrap {
    border-bottom: 1px solid #c5c5c5;
    min-height: 4rem;
    position: relative;
    max-height: 4rem;
    padding: 0rem 2rem;
}
.brand-img-link {
    margin-top: 1.3rem;
    position: absolute;
}
.user-panal{
  margin-top: 1rem;
  position: relative;
}
 .button-group {
    position: relative;
    display: inline-block;
    margin: .7rem 0; 
}
  .button-group:before {
    content: attr(data-grouptype);
    z-index: 99999;
    color: #999;
    display: block;
    font-size: 1rem;
    padding: 0.25em;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    left: 37.5%;
    top: 0.25rem;
  }
  .button-group .button {
    margin-right: .5rem;
    margin-bottom: .5rem;
    border-radius: 5px;
  }
.small-menu-btn{
  margin-top: .7rem;
}
.dropdown-setting {
    position: absolute;
    width: 13rem;
    left: -4rem;
    background-color: white;
    border: 1px solid #c5c5c5;
    padding: 1rem;
}
</style>
<div class="header-wrap" data-ng-controller="HeaderController">
  <div class="row full-stretch">
    <div class="columns small-12">
      <div class="row">
        <div class="columns small-6">
             <a data-ui-sref="home" class="brand-img-link"><img class="brand-img" src="">amazecreators</a>
        </div>
        <div class="columns small-6 float-right">
          <div class="show-for-small-only">
            <button class="button small-menu-btn float-right" type="button" data-ng-click="toggleSmallMenu()">
              <span class="">Toggle navigation</span>
            </button>
            <div ng-show="OpenSmallMenu == true">
              
              asdasdasdad
              
            </div>
          </div>


          <div class="show-for-medium show-for-large">
            <div class="signup-sign-panal float-right" data-ng-hide="authentication.user">
              
               <div class="button-group" data-grouptype="OR">
                <button data-ui-sref="authentication.signin" class="sign-in-btn small button primary radius">signin</button>
                <button data-ui-sref="authentication.signup" class="sign-up-btn small button success radius">signup</button>
              </div>

            </div>
            <ul class="user-panal float-right" data-ng-show="authentication.user">
              <li class="">
                <a class="" ng-click='dropdownsetting = !dropdownsetting;'>
                  <img data-ng-src="{{authentication.user.profileImageURL}}" alt="{{authentication.user.displayName}}" class="header-profile-image" />
                  <span data-ng-bind="authentication.user.displayName"></span> <b class="dropdown-icon">\/</b>
                </a>
                <ul class="dropdown-setting" ng-show="dropdownsetting == true">
                  <li data-ui-sref-active="active">
                    <a data-ui-sref="settings.profile">Edit Profile</a>
                  </li>
                  <li data-ui-sref-active="active">
                    <a data-ui-sref="settings.picture">Change Profile Picture</a>
                  </li>
                  <li data-ui-sref-active="active" data-ng-show="authentication.user.provider === 'local'">
                    <a data-ui-sref="settings.password">Change Password</a>
                  </li>
                  <!--<li data-ui-sref-active="active">
                    <a data-ui-sref="settings.accounts">Manage Social Accounts</a>
                  </li>-->
                  <li class="divider"></li>
                  <li>
                    <a href="/api/auth/signout" target="_self">Signout</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>