<section data-ng-controller="organisationsController" data-ng-init="find()">
  <div class="page-header">
    <h1>organisations</h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="organisation in organisations" data-ui-sref="organisations.view({organisationId: organisation._id})" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="organisation.created | date:'mediumDate'"></span>
        by
        <span data-ng-bind="organisation.user.displayName"></span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="organisation.title"></h4>
      <p class="list-group-item-text" data-ng-bind="organisation.content"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="organisations.$resolved && !organisations.length">
    No organisations yet, why don't you <a data-ui-sref="organisations.create">create one</a>?
  </div>
</section>
