<section data-ng-controller="organisationsController" data-ng-init="list()">
  <div class="row">
      <div class="colomns small-12">
    <h1 class="text-center">organisations</h1>
  </div>
  <div class="row">
   <div class="colomns small-12">
       <table>
  <thead>
    <tr>
      <th width="300"><input type="text" data-ng-model="title"></input></th>
      <th width="500"><textarea data-ng-model="content"></textarea></th>
      <th width="300"><a class="button expanded"data-ng-click="update(title,content)">Update organisation</a></th>
      <th width="300"><a class="button expanded" data-ng-click="add(title,content)">Add organisation</a></th>      
    </tr>
  </thead>
</table>
   </div>
  </div>
  <div class="row">
   <div class="colomns small-12">
       <table>
  <thead>
    <tr>
      <th width="300">Title</th>
      <th width="500">Content</th>
      <th width="300">edit</th>
      <th width="300">delete</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="organisation in organisations">
      <td>{{organisation.title}}</td>
      <td>{{organisation.content}}</td>
      <td><a class="button" ng-click="edit(organisation.title,organisation.content,organisation._id)">edit organisation</a></td>      
      <td><a class="button" ng-click="remove(organisation.title,organisation.content,organisation._id)">remove organisation</a></td>
    </tr>
  </tbody>
</table>
   </div>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="!organisations.length">
    No organisations yet, why don't you create one ?
  </div>
</section>
