<section data-ng-controller="organisationsController" data-ng-init="find()">
  <div class="row">
      <div class="colomns small-12">
    <h1 class="text-center">organisations</h1>
  </div>
  <div class="row">
   <div class="colomns small-12">
       <table>
  <thead>
    <tr>
      <th width="200">Title</th>
      <thwidth="400">Content</th>
      <th width="150">update</th>
      <th width="150">delete</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="organisation in organisations">
      <td>Content Goes Here</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
   </div>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="organisations.$resolved && !organisations.length">
    No organisations yet, why don't you <a data-ui-sref="organisations.create">create one</a>?
  </div>
</section>
