<section data-ng-controller="ChangeProfilePictureController">
  <div class="row">
    <div class="small-4">
      <form class="">
          <div class="text-center">
            <img data-ng-src="{{imageURL}}" alt="{{user.displayName}}" class="img-thumbnail user-profile-picture">
          </div>
          <div class="text-center" data-ng-hide="uploader.queue.length">
            <span class="button">
                Select Image <input type="file" nv-file-select uploader="uploader">
            </span>
          </div>
          <div class="text-center" data-ng-show="uploader.queue.length">
            <button class="buttom" data-ng-click="uploadProfilePicture();">Upload</button>
            <button class="button" data-ng-click="cancelUpload();">Cancel</button>
          </div>
          <div data-ng-show="success" class="text-center">
            <strong>Profile Picture Changed Successfully</strong>
          </div>
          <div data-ng-show="error" class="text-center">
            <strong data-ng-bind="error"></strong>
          </div>
      </form>
    </div>
  </div>
</section>
