<section data-ng-controller="ChangePasswordController">
  <div class="row">
    <div class="small-4">
      <form data-ng-submit="changeUserPassword()" class="" autocomplete="off">
          <div class="">
            <label>Current Password</label>
            <input type="password" id="currentPassword" name="currentPassword" class="" data-ng-model="passwordDetails.currentPassword" placeholder="Current Password">
          </div>
          <div class="">
            <label>New Password</label>
            <input type="password" id="newPassword" name="newPassword" class="" data-ng-model="passwordDetails.newPassword" placeholder="New Password">
          </div>
          <div class="">
            <label for="verifyPassword">Verify Password</label>
            <input type="password" id="verifyPassword" name="verifyPassword" class="" data-ng-model="passwordDetails.verifyPassword" placeholder="Verify Password">
          </div>
          <div class="text-center">
            <button type="submit" class="button">Save Password</button>
          </div>
          <div data-ng-show="success" class="text-center">
            <strong>Password Changed Successfully</strong>
          </div>
          <div data-ng-show="error" class="text-center">
            <strong data-ng-bind="error"></strong>
          </div>
      </form>
    </div>
  </div>
</section>
