<section data-ng-controller="EditProfileController">
  <div class="row">
    <div class="small-4">
      <form name="userForm" data-ng-submit="updateUserProfile(userForm.$valid)" class="" autocomplete="off">
          <div class="">
            <label>First Name</label>
            <input type="text" id="firstName" name="firstName" class="" data-ng-model="user.firstName" placeholder="First Name">
          </div>
          <div class="">
            <label>Last Name</label>
            <input type="text" id="lastName" name="lastName" class="" data-ng-model="user.lastName" placeholder="Last Name">
          </div>
          <div class="form-group">
            <label>Email</label>
            <input type="email" id="email" name="email" class="" data-ng-model="user.email" placeholder="Email">
          </div>
          <div class="">
            <label>Username</label>
            <input type="text" id="username" name="username" class="" data-ng-model="user.username" placeholder="Username">
          </div>
          <div class="text-center">
            <button type="submit" class="button">Save Profile</button>
          </div>
          <div data-ng-show="success" class="text-center">
            <strong>Profile Saved Successfully</strong>
          </div>
          <div data-ng-show="error" class="text-center">
            <strong data-ng-bind="error"></strong>
          </div>
      </form>
    </div>
  </div>
</section>
