<section class="row" data-ng-controller="AuthenticationController">
  <div class="small-5 small-centered" ui-view></div>

<!--this can be set up latter-->

  <!--<h3 class="small-12 text-center">or Sign in using your social accounts</h3>
  <div class="small-12 text-center">
    <img ng-click="callOauthProvider('/api/auth/facebook')" ng-src="/modules/users/img/buttons/facebook.png">
    <img ng-click="callOauthProvider('/api/auth/twitter')" ng-src="/modules/users/img/buttons/twitter.png">
    <img ng-click="callOauthProvider('/api/auth/google')" ng-src="/modules/users/img/buttons/google.png">
    <img ng-click="callOauthProvider('/api/auth/linkedin')" ng-src="/modules/users/img/buttons/linkedin.png">
    <img ng-click="callOauthProvider('/api/auth/github')" ng-src="/modules/users/img/buttons/github.png">
    <img ng-click="callOauthProvider('/api/auth/paypal')"  ng-src="/modules/users/img/buttons/paypal.png">
  </div>-->
</section>
